In [5]:
%load_ext autoreload
%autoreload 2
import os
import pickle as pkl
from typing import Dict, Any

import numpy as np
import pandas as pd
from sklearn.datasets import fetch_openml
import matplotlib as mpl
import matplotlib.pyplot as plt
from copy import deepcopy
mpl.rcParams['figure.dpi'] = 250

# change working directory to project root
if os.getcwd().split('/')[-1] == 'notebooks':
    os.chdir('../..')
from experiments.notebooks import viz
from experiments.data_util import get_clean_dataset
from experiments.config.datasets import DATASETS_CLASSIFICATION, DATASETS_REGRESSION
from pmlb import fetch_data, classification_dataset_names
pd.options.display.max_rows = 100

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# classification dataset stats

In [ ]:
metadata = []
columns = ['Name', 'Samples', 'Features', 'Class 0', 'Class 1', 'Majority class %']
for dset_name, dset_file, data_source in DATASETS_CLASSIFICATION:
    X, y, feat_names = get_clean_dataset(dset_file, data_source)
#     X = np.nan_to_num(X, 0)
    shape = X.shape
    class_counts = np.unique(y, return_counts=True)[1]
    metadata.append([dset_name.capitalize(), shape[0], shape[1], class_counts[0], class_counts[1],
                     np.round(100 * np.max(class_counts) / np.sum(class_counts), decimals=1)])

metadata = pd.DataFrame(metadata, columns=columns).sort_values(by=['Samples']) #.set_index('Name')
# print(metadata.to_latex(index=False))
metadata

# regression dataset names

In [7]:
metadata = []
columns = ['Name', 'Samples', 'Features', 'Mean', 'Std', 'Min', "Max"]
for dset_name, dset_file, data_source in DATASETS_REGRESSION:
#     print(dset_name, dset_file, data_source)
    X, y, feat_names = get_clean_dataset(dset_file, data_source)
#     X = np.nan_to_num(X, 0)
#     print(y.dtype)
#     print(np.unique(y))
    shape = X.shape
    metadata.append([dset_name.capitalize(), shape[0], shape[1], np.mean(y), np.std(y), np.min(y), np.max(y)])

metadata = pd.DataFrame(metadata, columns=columns).round(2).sort_values(by=['Samples'])
#.set_index('Name')
# print(metadata.to_latex(index=False))
metadata

                 Name  Samples  Features    Mean     Std    Min      Max
0           Friedman1      200        10   14.25    4.56   1.71    26.95
1           Friedman2      200         4  464.02  390.78   7.15  1699.68
2           Friedman3      200         4    1.32    0.32   0.02     1.57
3       Diabetes-regr      442        10  152.13   77.01  25.00   346.00
4  California-housing      442        10  152.13   77.01  25.00   346.00
5     Satellite-image     6435        36    3.67    2.21   1.00     7.00
6         Echo-months    17496         9   21.99   15.79  -4.40    74.56

In [8]:
X, y, feature_names = get_clean_dataset('friedman1', data_source='synthetic')
print('shapes', X.shape, y.shape, np.unique(y))

shapes (200, 10) (200,) [ 1.54807941  2.82584089  3.26260264  3.58710555  5.11763798  5.42531158
  5.63301555  5.74722517  6.10242782  6.20489243  6.56014744  6.85847467
  7.18417699  7.36325666  7.39342959  7.44751827  8.09587663  8.09797839
  8.22070863  8.25235835  8.29692857  8.57150104  8.61788598  8.82239744
  8.89802983  9.08491611  9.20334603  9.21966825  9.24019214  9.25595083
  9.49387347  9.64898803  9.71182684  9.80450925  9.95905093  9.98434944
  9.9975615  10.23995605 10.35352875 10.4029495  10.44838625 10.46052791
 10.52496695 10.60750259 10.64587348 10.76111163 10.83940749 10.85406208
 10.86375354 10.9408716  10.95164538 10.95342806 10.96393778 11.00683843
 11.01975958 11.26092686 11.48717995 11.51290823 11.59509797 11.77250693
 11.92633296 11.9662568  12.02930547 12.08237057 12.10473253 12.42237003
 12.80092649 12.81473684 12.84739159 12.8819466  12.90865831 12.91331892
 12.94010616 12.96911324 13.00576323 13.11220829 13.18642017 13.28761968
 13.49001963 13.6188573  13.79783797 13.85494845 13.91625292 14.07083691
 14.093246   14.15880114 14.16682011 14.38901278 14.40337939 14.4213751
 14.45415981 14.4748406  14.6316424  14.73819647 14.76667326 14.77133295
 14.77296594 14.78171164 14.82512616 14.91052315 14.96029296 14.97766628
 15.1172384  15.32597904 15.39497619 15.45299813 15.45346707 15.46507835
 15.46520353 15.49726878 15.62323466 15.70197821 15.72544034 15.75263639
 15.75998649 15.82488316 15.85235893 15.95195798 16.30910691 16.40621584
 16.42052504 16.43825233 16.47170598 16.57264034 16.61774624 16.63789096
 16.66041759 16.66370998 16.67585689 16.69443744 17.08695278 17.10557085
 17.11976015 17.17728342 17.17986359 17.22591649 17.2501139  17.26140725
 17.30052897 17.50981131 17.5803197  17.68408512 17.79288043 17.91362785
 18.05374238 18.0641617  18.23285535 18.30798801 18.50612    18.56555744
 18.61349455 18.64910539 18.66018965 18.79300034 18.87492717 18.98602531
 19.03736889 19.05877348 19.19806473 19.26739271 19.57029025 19.62569554
 19.69804241 19.73875805 19.80218669 19.82982234 19.90961153 19.97029803
 20.0386928  20.11527377 20.22746244 20.29479537 20.42595733 20.54155337
 20.54775367 20.57162903 20.59367662 20.74302452 20.76381264 20.81217742
 21.01651037 21.05466203 21.1072806  21.52650481 21.87272446 21.94032317
 22.04404563 22.40829395 22.54544071 22.5618     22.65143277 22.98859271
 23.16731741 23.29568444 23.62585379 24.69052958 24.95170338 25.48104556
 25.73844013 27.92649932]

In [10]:
X, y, feature_names = get_clean_dataset('diabetes', data_source='pmlb')
print('shapes', X.shape, y.shape, np.unique(y))

shapes (768, 8) (768,) [0 1]

In [8]:
from imodels import C45TreeClassifier
m = C45TreeClassifier(max_rules=100)
m.fit(X, y)
print('mse', np.mean(np.square(m.predict(X) - y)))
print(m)

(768, 8)