In [147]:
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import glob
import pandas as pd
import os
import matplotlib as mpl
from numpy import concatenate as cat
from collections import defaultdict
from sklearn import metrics
mpl.rcParams['figure.dpi'] = 250
pd.set_option('precision', 2)

In [148]:
results = {}
for dataset in ['csi', 'tbi', 'iai']:
    for group in ['all']:
        results[f'{dataset}_{group}'] = pd.read_csv(
            f'results/{dataset}/{group}_average.csv').set_index('Unnamed: 0')
results['sim'] = pd.read_csv(f'results/sim/all_average.csv').set_index('Unnamed: 0')

In [149]:
for key in results:
    results[key] = results[key].rename({
        'spec_0.92': '0.92',
        'spec_0.94': '0.94',
        'spec_0.96': '0.96',
        'spec_0.98': '0.98',
        'auc': 'AUC of ROC',
        'aps': 'Avg precision score',
        'acc': 'Accuracy',
    }, axis=1)
    results[key] = results[key].rename(lambda x: x.replace('pfigs_combine', 'pfigs'), axis=0)
    results[key].index = results[key].index.rename('Model')

    results[key]['Accuracy'] = (results[key]['Accuracy']*100)#.map(lambda x: '{0:.1f}'.format(x))
    results[key]['f1'] = (results[key]['f1']*100)#.map(lambda x: '{0:.1f}'.format(x)) 
    results[key]['AUC of ROC'] = results[key]['AUC of ROC'].map(lambda x: '{0:.3f}'.format(x))
    results[key]['Avg precision score'] = results[key]['Avg precision score'].map(lambda x: '{0:.3f}'.format(x))

# csi

In [150]:
order = [0, 1, 11, 12, 3, 4, 9, 6]

#### all

In [151]:
(results['csi_all'].iloc[order, [-13, -10]]).style.highlight_max(color='yellow')
#.to_latex()

In [152]:
(results['csi_all'].iloc[order, [-4, -1]] * 100).round(1)

               auc_std_err  f1_std_err
Model
cart_all               5.7         1.4
cart_combine           0.4         1.4
tao_all                3.7         1.2
tao_combine            0.6         1.4
figs_all               2.8         1.3
figs_combine           1.5         1.3
pfigs                  1.5         1.1
pcart_combine          0.7         1.2

#### young

In [153]:
# order_group = [0, 1, 7, 8, 2, 3, 6]

In [154]:
# (results['csi_young'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

#### old

In [155]:
# (results['csi_old'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

# tbi

### all

In [156]:
(results['tbi_all'].iloc[order, [-13, -10]])#.to_latex()#.style.highlight_max(color='yellow')

              AUC of ROC    f1
Model
cart_all           0.702  5.73
cart_combine       0.753  5.64
tao_all            0.294  5.22
tao_combine        0.748  5.76
figs_all           0.380  4.85
figs_combine       0.619  5.05
pfigs              0.696  4.73
pcart_combine      0.758  5.49

In [158]:
(results['tbi_all'].iloc[order, [-4,  -1]] * 100).round(2)#.to_latex()#.style.highlight_max(color='yellow')

               auc_std_err  f1_std_err
Model
cart_all              6.40        0.23
cart_combine          1.84        0.19
tao_all               5.47        0.16
tao_combine           1.88        0.16
figs_all              6.90        0.21
figs_combine          5.08        0.24
pfigs                 4.33        0.20
pcart_combine         1.42        0.19

### young

In [159]:
# (results['tbi_young'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

### old

In [160]:
# (results['tbi_old'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

# simulation

In [162]:
# results['sim'].iloc[[0, 1, 6, 7, 2, 3, 5, 4], -4:].round(2)#.to_latex()#style.highlight_max(color='yellow')

# iai

In [163]:
(results['iai_all'].iloc[order, [-13, -10]])#.to_latex()#style.highlight_max(color='yellow')

              AUC of ROC     f1
Model
cart_all           0.688  13.44
cart_combine       0.688  13.01
tao_all            0.372  13.90
tao_combine        0.675  12.88
figs_all           0.541   9.39
figs_combine       0.653   8.04
pfigs              0.671   9.12
pcart_combine      0.732  12.47

In [164]:
(results['iai_all'].iloc[order, [-4, -1]] * 100)#.to_latex()#style.highlight_max(color='yellow')

               auc_std_err  f1_std_err
Model
cart_all              5.72        0.42
cart_combine          1.21        0.52
tao_all               4.30        0.57
tao_combine           1.35        0.45
figs_all              4.36        0.96
figs_combine          1.77        0.29
pfigs                 3.48        0.54
pcart_combine         1.55        0.67

In [165]:
# (results['iai_young'].iloc[order_group, [-15, -14, -13, -12]] * 100).style.highlight_max(color='yellow')

In [166]:
# (results['iai_old'].iloc[order_group, [-15, -14, -13, -12]] * 100).style.highlight_max(color='yellow')

# fairness?