In [1]:
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import glob
import pandas as pd
import os
import matplotlib as mpl
from numpy import concatenate as cat
from collections import defaultdict
from sklearn import metrics
mpl.rcParams['figure.dpi'] = 250
pd.set_option('precision', 3)

In [2]:
results = {}
for dataset in ['csi', 'csi_gbp', 'tbi']:
    for group in ['young', 'old', 'all']:
        results[f'{dataset}_{group}'] = pd.read_csv(
            f'results/{dataset}/{group}_average.csv').set_index('Unnamed: 0')
results['sim'] = pd.read_csv(f'results/sim/all_average.csv').set_index('Unnamed: 0')

## csi

#### all

In [3]:
results['csi_all'].iloc[[0, 3, 7, 6, 1, 2], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

In [4]:
results['csi_gbp_all'].iloc[[0, 3, 7, 6, 1, 2], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

#### young

In [5]:
results['csi_young'].iloc[[0, 1, 2, 3, 7, 8, 6], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

In [6]:
results['csi_gbp_young'].iloc[[0, 1, 2, 3, 7, 8, 6], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

#### old

In [7]:
results['csi_old'].iloc[[0, 1, 2, 3, 7, 8, 6], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

In [8]:
results['csi_gbp_old'].iloc[[0, 1, 2, 3, 7, 8, 6], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

## tbi

In [9]:
results['tbi_all'].iloc[[0, 3, 7, 6, 1, 2], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

In [10]:
results['tbi_young'].iloc[[0, 1, 2, 3, 7, 8, 6], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

In [11]:
results['tbi_old'].iloc[[0, 1, 2, 3, 7, 8, 6], [-16, -15, -14, -13, -12, -10]].style.highlight_max(color='blue')

## simulation

In [15]:
results['sim'].iloc[[0, 1, 2, 3, 5, 6, 7], -8:-4].style.highlight_max(color='blue')

## fairness