In [83]:
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import glob
import pandas as pd
import os
import matplotlib as mpl
from numpy import concatenate as cat
from collections import defaultdict
from sklearn import metrics
mpl.rcParams['figure.dpi'] = 250
pd.set_option('precision', 2)

In [84]:
results = {}
for dataset in ['csi', 'tbi', 'iai']:
    for group in ['all']:
        results[f'{dataset}_{group}'] = pd.read_csv(
            f'results/{dataset}/{group}_average.csv').set_index('Unnamed: 0')
results['sim'] = pd.read_csv(f'results/sim/all_average.csv').set_index('Unnamed: 0')

In [85]:
for key in results:
    results[key] = results[key].rename({
        'spec_0.92': '0.92',
        'spec_0.94': '0.94',
        'spec_0.96': '0.96',
        'spec_0.98': '0.98',
        'auc': 'AUC of ROC',
        'aps': 'Avg precision score',
        'acc': 'Accuracy',
    }, axis=1)
    results[key] = results[key].rename(lambda x: x.replace('pfigs_combine', 'pfigs').replace('pcart_combine', 'pcart'), axis=0)
    results[key].index = results[key].index.rename('Model')

    results[key]['Accuracy'] = (results[key]['Accuracy']*100)#.map(lambda x: '{0:.1f}'.format(x))
    results[key]['f1'] = (results[key]['f1']*100).map(lambda x: '{0:.1f}'.format(x))
    results[key]['AUC of ROC'] = results[key]['AUC of ROC'].map(lambda x: '{0:.3f}'.format(x)[1:])
    results[key]['Avg precision score'] = results[key]['Avg precision score'].map(lambda x: '{0:.3f}'.format(x))
    results[key]['auc_std_err'] = results[key]['auc_std_err'].map(lambda x: '{0:.2f}'.format(x)[1:]).map(lambda x: f' ({x})')
    results[key]['f1_std_err'] = results[key]['f1_std_err'].map(lambda x: '{0:.2f}'.format(x)[1:]).map(lambda x: f' ({x})')

    results[key]['auc_final'] = results[key]['AUC of ROC'] + results[key]['auc_std_err']
    results[key]['f1_final'] = results[key]['f1'] + results[key]['f1_std_err']

# csi

In [86]:
# order = [0, 1, 11, 12, 3, 4, 9, 6]
order = [11, 12, 0, 1, 6, 3, 4, 9]

#### all

In [87]:
# (results['csi_all'].iloc[order, -17:-9]).style.highlight_max(color='yellow')
# (results['csi_all'].iloc[order, [-13, -10]]).style.highlight_max(color='yellow')
#.to_latex()

In [88]:
results['tbi_all'].iloc[order][['auc_final', 'f1_final']]#.round(1).to_latex()

               auc_final   f1_final
Model
tao_all       .294 (.05)  5.2 (.00)
tao_combine   .748 (.02)  5.8 (.00)
cart_all      .702 (.06)  5.7 (.00)
cart_combine  .753 (.02)  5.6 (.00)
pcart         .758 (.01)  5.5 (.00)
figs_all      .380 (.07)  4.8 (.00)
figs_combine  .619 (.05)  5.1 (.00)
pfigs         .696 (.04)  4.7 (.00)

#### young

In [153]:
# order_group = [0, 1, 7, 8, 2, 3, 6]

In [154]:
# (results['csi_young'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

#### old

In [155]:
# (results['csi_old'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

# tbi

### all

In [18]:
(results['tbi_all'].iloc[order, -17:-10]).style.highlight_max(color='yellow')
# (results['tbi_all'].iloc[order, [-13, -10]])#.to_latex()#.style.highlight_max(color='yellow')

In [158]:
(results['tbi_all'].iloc[order, [-4,  -1]] * 100).round(2)#.to_latex()#.style.highlight_max(color='yellow')

               auc_std_err  f1_std_err
Model
cart_all              6.40        0.23
cart_combine          1.84        0.19
tao_all               5.47        0.16
tao_combine           1.88        0.16
figs_all              6.90        0.21
figs_combine          5.08        0.24
pfigs                 4.33        0.20
pcart_combine         1.42        0.19

### young

In [159]:
# (results['tbi_young'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

### old

In [160]:
# (results['tbi_old'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

# simulation

In [162]:
# results['sim'].iloc[[0, 1, 6, 7, 2, 3, 5, 4], -4:].round(2)#.to_latex()#style.highlight_max(color='yellow')

# iai

In [19]:
(results['iai_all'].iloc[order, -17:-10]).style.highlight_max(color='yellow')
# (results['iai_all'].iloc[order, [-13, -10]])#.to_latex()#style.highlight_max(color='yellow')

In [164]:
(results['iai_all'].iloc[order, [-4, -1]] * 100)#.to_latex()#style.highlight_max(color='yellow')

               auc_std_err  f1_std_err
Model
cart_all              5.72        0.42
cart_combine          1.21        0.52
tao_all               4.30        0.57
tao_combine           1.35        0.45
figs_all              4.36        0.96
figs_combine          1.77        0.29
pfigs                 3.48        0.54
pcart_combine         1.55        0.67

In [165]:
# (results['iai_young'].iloc[order_group, [-15, -14, -13, -12]] * 100).style.highlight_max(color='yellow')

In [166]:
# (results['iai_old'].iloc[order_group, [-15, -14, -13, -12]] * 100).style.highlight_max(color='yellow')

# fairness?