In [83]:
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import glob
import pandas as pd
import os
import matplotlib as mpl
from numpy import concatenate as cat
from collections import defaultdict
from sklearn import metrics
mpl.rcParams['figure.dpi'] = 250
pd.set_option('precision', 3)

In [84]:
results_csi_all = pd.read_csv('results/csi/all_average.csv').set_index('Unnamed: 0')
results_csi_young = pd.read_csv('results/csi/young_average.csv').set_index('Unnamed: 0')
results_csi_old = pd.read_csv('results/csi/old_average.csv').set_index('Unnamed: 0')

results_tbi_all = pd.read_csv('results/tbi/all_average.csv').set_index('Unnamed: 0')
results_tbi_young = pd.read_csv('results/tbi/young_average.csv').set_index('Unnamed: 0')
results_tbi_old = pd.read_csv('results/tbi/old_average.csv').set_index('Unnamed: 0')

### csi results

#### all

In [85]:
results_csi_all.iloc[[0, 3, 7, 6, 1, 2], -12:].style.highlight_max(color='blue')

#### young

In [86]:
results_csi_young.iloc[[0, 1, 2, 3, 7, 8, 6], -12:].style.highlight_max(color='blue')

#### old

In [87]:
results_csi_old.iloc[[0, 1, 2, 3, 7, 8, 6], -12:].style.highlight_max(color='blue')

### tbi results

In [80]:
results_tbi_all.iloc[[0, 3, 7, 6], -12:].style.highlight_max(color='blue')

In [81]:
results_tbi_young.iloc[[0, 1, 2, 3, 7, 8, 6], -12:].style.highlight_max(color='blue')

In [82]:
results_tbi_old.iloc[[0, 1, 2, 3, 7, 8, 6], -12:].style.highlight_max(color='blue')