In [1]:
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import glob
import pandas as pd
import os
import matplotlib as mpl
from numpy import concatenate as cat
from collections import defaultdict
from sklearn import metrics
mpl.rcParams['figure.dpi'] = 250
pd.set_option('precision', 2)

In [2]:
results = {}
for dataset in ['csi', 'tbi', 'iai']:
    for group in ['young', 'old', 'all']:
        results[f'{dataset}_{group}'] = pd.read_csv(
            f'results/{dataset}/{group}_average.csv').set_index('Unnamed: 0')
results['sim'] = pd.read_csv(f'results/sim/all_average.csv').set_index('Unnamed: 0')

In [3]:
for key in results:
    results[key] = results[key].rename({
        'spec_0.92': '0.92',
        'spec_0.94': '0.94',
        'spec_0.96': '0.96',
        'spec_0.98': '0.98',
        'auc': 'AUC of ROC',
        'aps': 'Avg precision score',
        'acc': 'Accuracy',
    }, axis=1)
    results[key] = results[key].rename(lambda x: x.replace('pfigs_combine', 'pfigs'), axis=0)
    results[key].index = results[key].index.rename('Model')

results['sim']['Accuracy'] = (results['sim']['Accuracy']*100)#.map(lambda x: '{0:.1f}'.format(x))
results['sim']['f1'] = (results['sim']['f1']*100)#.map(lambda x: '{0:.1f}'.format(x)) 
results['sim']['AUC of ROC'] = results['sim']['AUC of ROC'].map(lambda x: '{0:.3f}'.format(x))
results['sim']['Avg precision score'] = results['sim']['Avg precision score'].map(lambda x: '{0:.3f}'.format(x))

# csi

In [4]:
order = [0, 1, 11, 12, 3, 4, 9]

#### all

In [5]:
(results['csi_all'].iloc[order, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

#### young

In [6]:
order_group = [0, 1, 7, 8, 2, 3, 6]

In [7]:
(results['csi_young'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

#### old

In [8]:
(results['csi_old'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

# tbi

### all

In [9]:
(results['tbi_all'].iloc[order, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

### young

In [10]:
(results['tbi_young'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

### old

In [11]:
(results['tbi_old'].iloc[order_group, [-17, -16, -15, -14]] * 100).style.highlight_max(color='yellow')

# simulation

In [12]:
results['sim'].iloc[[0, 1, 2, 3, 6, 7, 5], -8:-4].style.highlight_max(color='yellow')

# iai

In [13]:
(results['iai_all'].iloc[order, [-15, -14, -13, -12]] * 100).style.highlight_max(color='yellow')

In [14]:
(results['iai_young'].iloc[order_group, [-15, -14, -13, -12]] * 100).style.highlight_max(color='yellow')

In [15]:
(results['iai_old'].iloc[order_group, [-15, -14, -13, -12]] * 100).style.highlight_max(color='yellow')

# fairness?