In [1]:
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
import glob
import pandas as pd
import os
import matplotlib as mpl
from numpy import concatenate as cat
from collections import defaultdict
from sklearn import metrics
mpl.rcParams['figure.dpi'] = 250

In [32]:
results_tbi = pd.read_csv('results/tbi/tbi_final.csv').set_index('Unnamed: 0')
results_csi = pd.read_csv('results/csi/csi_final.csv').set_index('Unnamed: 0')

results_tbi_avg_metrics = results_tbi.iloc[:, -10:-5]
results_csi_avg_metrics = results_csi.iloc[:, -10:-5]

In [33]:
order = [0, 1, 5, 2, 4, 6]

### tbi results

#### young

In [34]:
results_tbi_avg_metrics.filter(regex='.*_young', axis=0).iloc[order].style.highlight_max()

#### old

In [35]:
results_tbi_avg_metrics[~results_tbi_avg_metrics.index.str.contains('young')].iloc[order].style.highlight_max()

### csi results

In [36]:
results_csi_avg_metrics.filter(regex='.*_young', axis=0).iloc[order].style.highlight_max()

In [37]:
results_csi_avg_metrics.filter(regex='.*_allage', axis=0).iloc[order].style.highlight_max()

In [38]:
results_csi_avg_metrics[
    ~results_csi_avg_metrics.index.str.contains('young') & 
    ~results_csi_avg_metrics.index.str.contains('allage')].iloc[order].style.highlight_max()